RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

EKART_SANDBOX=""

EKART_BASE_URL=""
EKART_CLIENT_ID=""
EKART_USERNAME=""
EKART_PASSWORD=""

SELLER_NAME=""
SELLER_ADDRESS=""
SELLER_GST_TIN=""
SELLER_PHONE=""
SELLER_PIN=""